
header {
    display: flex;
    justify-content: center;
    
    nav {
        font-weight: 700;
        color: @charcoal-black;
        margin: 3em 0 2em;
        font-size: 1.6rem;
        a{
            .link-styles();
        }
    }
}

.title-container {
    background-image: url(../assets/home.png);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    
}
